.dropdown,
.dropdown__inner,
.dropdown__content {
  transform-origin: 0 0;
}

.dropdown::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown__inner {
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
}
